  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <div class="bs-component">
        <ul class="nav nav-tabs" >
          <li><p class="userForm-pageTitle"><%=@page_title %></p></li>
          <li class="news active"><a href="#News" data-toggle="tab">What's New</a></li>
          <li class="profile"><%= link_to user_path(id: @user.id),{remote:true},{'data-toggle':'tab'} do %>プロフィール<%end%></li>
          <li class="article"><%= link_to articles_path(user_id: @user.id),{remote:true,method: :get },{'data-toggle':'tab'} do %>投稿記事<%end%></li>
          <li class="evaluate"><%= link_to articles_path(uid:@user.id),{remote:true,method: :get },{'data-toggle':'tab'} do %>評価記事一覧<%end%></li>
          <% login_user?(@user.id) do %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                アカウント <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to edit_user_registration_path,method: :get  do %>
                    <i class="fa fa-pencil fa-fw"></i> 修正する
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to  registration_path(resource_name), method: :delete, data: { confirm:
                    "以下のアカウントを削除しますか？<br>
                     <p class='text-danger'>アカウントを削除すると投稿したすべての記事も削除されます。</p>
                    E-mail：<strong>#{current_user.email}</strong><br>
                    お名前：<strong>#{current_user.name.blank?? "未登録" : current_user.name}</strong><br>
                    投稿記事数：<strong>#{current_user.articles.count}件</strong><br>",
                    "commit" => "削除する",
                    "cancel" => "やっぱりやめる",
                    "verify" => current_user.email,
                    "verify-text" => "確認のため、登録アドレスを入力してください。"
                    },
                    title: "アカウントの削除" do %><i class="fa fa-trash-o fa-fw"></i> 削除する
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in col-xs-12" id="news" >
          <% flash.each do |key, value| %>
            <% key = "success" if key == "notice" %>
            <% key = "danger"  if key == "alert" %>
            <%= content_tag :div, value, class: "alert alert-#{key}" %>
          <% end %>
          <h4>〜<%#= your_name?(@user)%>の更新情報〜</h4>
          <table class="table table-striped table-hover topTable">
            <thead>
              <tr>
                <th>更新日</th>
                <th>名前</th>
                <th>場所</th>
                <th>評価</th>
                <th>投稿日</th>
              </tr>
            </thead>
            <tbody>
              <% @articles.each do |f| %>

                  <tr>
                    <td class="dateTime"><%= f.updated_at.strftime("%y/%m/%d %H:%M:%S")%></td>
                    <td class="name"><%= f.name%></td>
                    <td class="plase"><%= f.station%></td>
                    <td class="point">
                      <% unless f.evaluates.where(user_id:f.user_info.id).blank? %>
                      <% @point = f.evaluates.where(user_id:f.user_info.id).first.evaluate %>
                      <span style="color: #fc3;"><% @point.times{ %>★<%} %></span><span style="color: #aaa;"><% (5 - @point).times{ %>☆<%} %></span>
                      <% end %>
                    </td>
                    <td class="date"><%= f.created_at.strftime("%y/%m/%d")%></td>
                  </tr>
              <% end %>
            </tbody>
          </table>

          <%# @followUserArticle.each do |f| %>
            <%# f.each do |d| %>
            <%# binding.pry %>
             <%#= d[1][:name] %>
            <%# end %>
          <%# end %>
        </div>
        <div class="tab-pane fade col-xs-12" id="profile"></div>
        <div class="tab-pane fade col-xs-12" id="article"></div>
        <div class="tab-pane fade col-xs-12" id="evaluate"></div>
      </div>
    </div>
  </div>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
