<% if @is_ArtCnt %>
  <div class="bs-component">
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Tips</strong>
      <%=@user.name %>さんが登録したお店は
       <% if @user.articles.count == 0 %> ありません。
       <% else %> すべて評価済みです。
       <% end %>
       <br>
      <% login_user?(@user.id) do %>
      <br>
      行ってみたいお店や、テレビや雑誌で見て気になるお店はありませんか？<br>
      新しいお店を見つけたら<%= link_to new_article_path ,remote: true do %>登録してみましょう！<%end %>
      <% end %>
    </div>
  </div>
<% elsif @is_EvaCnt %>
  <div class="bs-component">
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Tips</strong>
      評価した記事がありません。<br>
      <% login_user?(@user.id) do %>
      <br>
      気になるお店を登録したり、他の人が登録したお店に実際に行き、<br>
      評価を登録してみましょう。<br>
      <% end %>
    </div>
  </div>
<% end %>
<% articles.each do |article| %>
  <div class="articleList">
    <div class="articleList_header row"></div>
    <div class="articleList_body row">
      <div class="articleList-picture col-xs-2">
        <%= set_picture(article.picture,"imageSize_indexArticle","test") %>
      </div>
      <div class="articleList-dateTime col-xs-10 text-muted">
        <%= article.created_at.strftime("%y/%m/%d %p %l:%M") %>投稿
      </div>
      <div class="articleList-title col-xs-10">
        <%= link_to article_path(id:article.id),remote:true,method: :get do %>
          <%= article.name %><%=article.id%>
        <% end %>
      </div>
      <div class="articleList-content col-xs-10">
        <%= article.art_comment %>
      </div>
    </div>
    <div class="articleList_footer row">
      <div class="col-xs-3">
        <div class="articleList-button articleList-button_like">
          <ul class="nav nav-pills">
            <li class="active">
              <% if article.likes.count == 0 %>
                <a id="like_none"><i class="fa fa-thumbs-o-up fa-fw"></i>いいね!
                  <span class="badge">0</span>
                  <i class="fa fa-minus" aria-hidden="true" style="font-size:55%;padding-left:2px;"></i>
                </a>
              <% else %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-thumbs-o-up fa-fw"></i>いいね!
                  <span class="badge"><%= article.likes.count%></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% article.likes.each do |like| %>
                    <li>
                      <%= link_to user_path(id:like.user.id) do %>
                        <%= profile_img(like.user,"imageSize_indexAvatar") %>
                        <%=like.user.name %>
                      <% end %>
                    </li>
                    <%#= content_tag(:li, '', :class => 'divider') %>
                  <% end %>
                </ul>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-7">
        <%# 何を入れようか・・ %>
      </div>
      <% if your_article?(article) %>
        <div class="articleList-button col-xs-2">
          <% if article.evaluates.count > 0 || article.likes.count > 0
            @deleteWarning="<br>この記事は<p class='text-danger'>"
             if article.likes.count> 0
               @deleteWarning +="● #{article.likes.count}人が注目しています。<br>"
             end
             if article.evaluates.count > 0
               @deleteWarning +="● #{article.evaluates.count}人が評価しています。<br>"
             end
             @deleteWarning +="<br>記事を削除すると、これらの情報も一緒に消えてしまいます。</p>"
            else
              @deleteWarning ="<br>"
            end %>
            <%= link_to article_path(id:article.id), method: :delete,class:"articleList-button_delete btn btn-danger", data: { confirm:
              "本当にこの記事を削除してもよろしいでしょうか？<br>
              #{@deleteWarning}
              確認のため下記の文字列を入力してください。<br>
              <p class='well well-sm'>#{@CAPTCHA = (0...8).map{ (65 + rand(26)).chr }.join}</p>",
              "commit" => "削除する",
              "cancel" => "やっぱりやめる",
              "verify" => @CAPTCHA,
              },
              title: "記事の削除" do %><i class="fa fa-trash-o fa-fw"></i> 削除する
            <% end %>
        </div>
      <% else %>
        <div class="articleList-contributor col-xs-2">
          <p class="text-muted articleList_fontMinimum">
            ~recommended by
          </p>
          <%= link_to user_path(id:article.user_info.id) do %>
            <%= profile_img(article.user_info,"imageSize_indexAvatar") %>
            <%= article.user_info.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
