<p id="notice"><%= notice %></p>
<div class="list-group">
<% articles.each do |article| %>
  <div class="list-group-item">
    <div class="row-action-primary">
      <%= profile_img(article.user_info,"avatarSize--myPageShow") if profile_img(article.user_info) %>
    </div>
    <div class="row-content">
      <div class="least-content">
        <span class="topicIndex__date">
          <%= article.created_at.strftime("%y/%m/%d %p %l:%M") %>投稿
        </span>
        <ul class="topicIndex__icons">
          <li>
          <%= link_to article do %>
            <span class=""><%= mi.pageview.md_24 %></span>
          <% end %>
          </li>
          <% if current_user.id == article.user_info.id %>
            <li>
            <%= link_to edit_article_path(article.id) do %>
              <span class=""><%= mi.mode_edit.md_24 %></span>
            <% end %>
            </li>
            <li>
            <%= link_to article, method: :delete, data: { confirm: '本当に削除してもよろしいでしょうか？' }  do %>
              <span class=""><%= mi.delete.md_24 %></span>
            <% end %>
            </li>
          <% else %>
            <li class=""><%= mi.mode_edit.md_24 %></li>
            <li><%= mi.delete.md_24 %></li>
          <% end %>
        </ul>
      </div>
      <p class="list-group-item-heading"><%= article.user_info.name %></p>
      <p class="list-group-item-text"><%= article.name %></p>
    </div>
  </div>
  <div class="list-group-separator"></div>
<% end %>
</div>
