.col-xs-10.col-xs-offset-1{:style => "min-width:800px;"}
  %form.form-horizontal.articleList-search
    %fieldset
      %legend{:style => "margin:0px;"} 検索
      = search_form_for @q,class:"articleList-searchForm" do |f|
        .col-xs-6
          %label.control-label{:for => ""} お店の名前で検索
          %div
            = f.text_field :name_cont,class:"form-control", placeholder:"お店の名前"
        .col-xs-6
          %label.control-label{:for => ""} コメントで検索
          %div
            = f.text_field :art_comment_cont,class:"form-control", placeholder:"コメント"
        .col-xs-6
          %label.control-label{:for => ""} 住所で検索
          %div
            = f.text_field :address_cont,class:"form-control", placeholder:"お店の住所"
        .col-xs-6.articleList-serchButton
          %button.btn.btn-default{:type => "submit"}
            %i.fa.fa-search{"aria-hidden" => "true"}
            検索
          = f.button "リセット", type: :reset, class:"btn btn-default"
  = render partial: 'articles_list', locals: {articles: @articles}
