
  <form class="form-horizontal articleList-search">
    <fieldset>
      <legend style="margin:0px;">検索</legend>
      <%= search_form_for @q,class:"articleList-searchForm" do |f| %>
        <div class="col-xs-6">
          <label for="" class="control-label">お店の名前で検索</label>
          <div class="">
          <%= f.text_field :name_cont,class:"form-control",placeholder:"お店の名前" %>
          </div>
        </div>
        <div class="col-xs-6">
          <label for="" class=" control-label">コメントで検索</label>
          <div class="">
          <%= f.text_field :art_comment_cont,class:"form-control",placeholder:"コメント" %>
          </div>
        </div>
        <div class="col-xs-6">
          <label for="" class="control-label">住所で検索</label>
          <div class="">
          <%= f.text_field :address_cont,class:"form-control",placeholder:"お店の住所" %>
          </div>
        </div>
        <div class="col-xs-6 articleList-serchButton">
          <button type="submit" class="btn btn-default">
          <i class="fa fa-search" aria-hidden="true"></i> 検索
          </button>
          <input type="reset" class="btn btn-default" value="リセット">
        </div>
      <% end %>
    </fieldset>
  </form>
  <%= render partial: 'index', locals: {articles: @articles}%>
