<div class="col-xs-4 userForm userForm_avater">
  <div class="col-md-12">
    <p id="defAvater"><%= profile_img(@user,"imageSize_myPage") if profile_img(@user) %></p>
  </div>
</div>
<div class="col-xs-8 userForm userForm_name">
  <p class="userForm-icon"><%= material_icon.account_circle.md_18 %></p>
  <p class="userForm-title">お名前</p>
  <div class="well well-sm">
    <%= @user.name%>
  </div>
</div>
<div class="col-xs-8 userForm userForm_address">
  <p class="userForm-icon userForm-icon_fa"><%=fa_icon "address-card" %></p>
  <p class="userForm-title">住所</p>
  <div class="well well-sm">
    <%= @user.address%>
  </div>
</div>
<div class="col-xs-8 userForm userForm_age">
  <p class="userForm-icon"><%= material_icon.account_circle.md_18 %></p>
  <p class="userForm-title">年齢</p>
  <div class="well well-sm">
    <%= @user.age%>
  </div>
</div>
<div class="col-xs-12 userForm userForm_profile">
  <p class="userForm-icon"><%= material_icon.account_circle.md_18 %></p>
  <p class="userForm-title">プロフィール</p>
  <div class="well well-sm userForm_br"><%= @user.profile%></div>
</div>
