<div class="col-xs-4 userForm userForm-avater">
  <div class="col-md-12">
    <p id="defAvater"><%= profile_img(@user,"imageSize_myPage") if profile_img(@user) %></p>
  </div>
  <% not_login_user?(@user.id) do %>
    <div class="col-xs-12 userForm-follow">
      <%= render partial: 'follow_form', locals: { user: @user } if signed_in?   %>
    </div>
  <% end %>
</div>
<div class="col-xs-8 userForm userForm-name">
  <p class="userForm-icon"><%= material_icon.account_circle.md_18 %></p>
  <p class="userForm-title">お名前</p>
  <div class="well well-sm">
    <%= @user.name%>
  </div>
</div>
<div class="col-xs-8 userForm userForm-address">
  <p class="userForm-icon userForm-icon_fa"><%=fa_icon "address-card" %></p>
  <p class="userForm-title">住所</p>
  <div class="well well-sm">
    <%= @user.address%>
  </div>
</div>
<div class="col-xs-8 userForm userForm-age">
  <p class="userForm-icon"><%= material_icon.account_circle.md_18 %></p>
  <p class="userForm-title">年齢</p>
  <div class="well well-sm">
    <%= @user.age%>
  </div>
</div>
<div class="col-xs-12 userForm userForm-profile">
  <p class="userForm-icon"><%= material_icon.account_circle.md_18 %></p>
  <p class="userForm-title">プロフィール</p>
  <div class="well well-sm userForm-br"><%= @user.profile%></div>
</div>
<div class="col-xs-12 userForm-relation">
  <section class="userForm-relation_follow">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <%= render partial: 'relationships/index', locals: { user: @follow, title:"フォロー"} %>
  </section>
  <section  class="userForm-relation_follower">
    <i class="fa fa-user" aria-hidden="true"></i>
    <%= render partial: 'relationships/index', locals: { user: @followed, title:"フォロワー"} %>
  </section>
</div>
