
  <form class="form-horizontal articleList-search">
    <fieldset>
      <legend style="margin:0px;">ユーザー検索</legend>
      <%= search_form_for @q,class:"articleList-searchForm" do |f| %>
        <div class="col-xs-6">
          <label for="" class="control-label">名前で検索</label>
          <div class="">
          <%= f.text_field :name_eq,class:"form-control",placeholder:"名前" %>
          </div>
        </div>
        <div class="col-xs-6">
          <label for="" class=" control-label">メールで検索</label>
          <div class="">
          <%= f.text_field :email_eq,class:"form-control",placeholder:"メールアドレス" %>
          </div>
        </div>
        <div class="col-xs-6">
          <label for="" class="control-label">住所で検索</label>
            <div class="">
              <%= f.text_field :address_eq,class:"form-control",placeholder:"住所" %>
            </div>
        </div>
        <div class="col-xs-6 articleList-serchButton">
          <button type="submit" class="btn btn-default">
          <i class="fa fa-search" aria-hidden="true"></i> 検索
          </button>
          <input type="reset" class="btn btn-default" value="リセット">
        </div>
      <% end %>
    </fieldset>
  </form>
  <div>
    <% @users.each do |user| %>
      <div class="col-md-3 col-sm-4 col-xs-6 showUser showUser--index">
        <div class="showUser__avatar">
          <%= link_to user do %>
            <%= profile_img(user,"showUser_avatar") %>
          <% end %>
        </div>
        <div class="showUser_email">
          <%= user.email %>
        </div>
        <div class="showUser_name">
          <%= user.name %>
        </div>
      </div>
    <% end %>
  </div>
