.bs-component
  - if @user.blank?
    .alert.alert-dismissible.alert-warning
      = t('messages.nothing_articles.search_result')  
  - else
    .alert.alert-dismissible.alert-info
      - if @tagId == "article"
        = t('messages.nothing_articles.article',
          :user_name => your_name?(@user),
          :status => @user.articles.count == 0? t('messages.nothing_articles.non'):t('messages.nothing_articles.done') )       
        = simple_format(t('messages.nothing_articles.art_thanks')) if @user.id == current_user.id
      - else
        = t('messages.nothing_articles.evaluate',
          :user_name => your_name?(@user))
        = simple_format(t('messages.nothing_articles.eva_thanks')) if @user.id == current_user.id
