<div class="modal-dialog">
  <%= form_for([@article,@evaluate]) do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">評価の入力</h3>
        </div>
        <div class="panel-body">
          <% if @evaluate.errors.any? %>
            <div class="alert alert-dismissible alert-danger errorMsg　errorMsg_possiton" style="">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h2 style="display:inline">入力内容にエラーがあります。</h2>
              <p>以下の<%= @evaluate.errors.count %>個のエラーを修正してください。</p>
              <ul>
                <% @evaluate.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <table class="table table-striped table-hover evaluate-table">
            <tr>
              <th class="evaluate-tableTitle">お店に行った日</th>
              <td><%= f.date_field :date,id:"date" %></td>
            </tr>
            <tr>
              <th>評価</th>
              <td class="range-group">
                <%= f.range_field :evaluate,id:"evaluate",class:"evaluate-field" %>
              </td>
            </tr>
            <tr>
              <th>コメント</th>
              <td>
                <%= f.text_area :eva_comment, autofocus: true,id:"art_comment",class:"articleDetail-imput articleDetail-imput_textArea",placeholder:"良かった点や気になったことなどご" %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <%#エラーで遷移後にウインドウを閉じれないため。要検討 %>
        <%#= link_to '閉じる',:back ,class:"btn btn-default"%>
        <%= f.submit "評価を登録",class:"btn btn-primary"%>

      </div>
    </div>
  </div>
  <%end%>
</div>

<script>
$(function() {
  $('.range-group').each(function() {
    //debugger
    for (var i = 0; i < 5; i ++) {
      $(this).append('<a>');
    }
  });
  $('.range-group>a').on('click', function() {
        //debugger;
     var index = $(this).index();
    $(this).siblings().removeClass('on');
     for (var i = 0; i < index; i++) {
        $(this).parent().find('a').eq(i).addClass('on');
     }
    $(this).parent().find('.evaluate-field').attr('value', index);

  });
});

</script>
