<!DOCTYPE html>
<html>
  <head>
    <title>GourMemo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="bs-component">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GourMemo</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="navbar-text">ようこそ <%= signed_in?? current_user.name : 'ゲスト' %> さん</p>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% if user_signed_in? %>
                    <li>
                      <%= link_to top_path do %>
                      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                      <span class="">マイページ</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to articles_path do %>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <span class="">みんなの記事</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="">サインアウト</span>
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to new_user_session_path do %>
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span class="">ログイン</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to new_user_registration_path do %>
                      <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span class="">新規登録</span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
            <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
        				<li>
                  <%= link_to top_path do %>
                  <i class="fa fa-address-card" aria-hidden="true"></i>
                  <span>トップページ</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_article_path,remote:true do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span>お店を登録する</span>
                  <% end %>
                </li>
        			</ul>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
